<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file type="log4net.Util.PatternString" value="%property{fileOutput}" />
		<datePattern value="yyyy-MM-dd.'log'"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true"/>
		<rollingStyle value="Date"/>
		<maxSizeRollBackups value="5"/>
		<maximumFileSize value="15MB"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] [TRACEID:%property{traceId}] %-5level App %logger %newline %message %newline %newline"/>
		</layout>
	</appender>
	<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
		<immediateFlush value="true" />
		<layout type="log4net.Layout.SimpleLayout" />
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="RollingLogFileAppender" />
		<appender-ref ref="DebugAppender" />
	</root>
</log4net>